# Created by https://www.gitignore.io/api/visualstudiocode

lib/*
token.mat
Lecture*.pdf

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history
